NODE_ENV=development
PORT=3000
DNS_SERVERS=8.8.8.8,1.1.1.1

# Local MongoDB example:
# MONGO_URI=mongodb://127.0.0.1:27017/blog-mvc

# MongoDB Atlas example:
MONGO_URI=mongodb+srv://moamin:Lasdof21012@nodeblog.rjrrfpw.mongodb.net/?appName=NodeBlog


# Quote this value if it contains special characters like # or spaces.
JWT_SECRET="Y>Dt(3([[d!KmcO^vOoOi@ixA,*{D-#fN?M<padCLJf"
JWT_EXPIRES_IN=7d

IMAGEKIT_PUBLIC_KEY=public_4rcma1hQYfukphpqz542EGfnouI=
IMAGEKIT_PRIVATE_KEY=private_VFAYeAkL8oa91Oq+bQf2vIKbr+w=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
